.content{
    margin: 0 auto;
    max-width: 1020px;
    
    table { 
        margin-top: 100px;
        width: 100%;
        border-spacing: 0 0.5rem;
        background: var(--background);

        tbody{

            th {
                color: var(--text-body);
                font-weight: 400;
                padding: 1rem 2rem;
                text-align: left;
                line-height: 1.5rem;
            }
    
            tr{
                box-shadow: 0 0 45px rgba(10, 30, 0, .08);
    
                td {
                    padding: 1rem 2rem;
                    border: 0;
                    background: #fff;
                    color: var(--text-body);
                    border-radius: 0.1rem;
                    
        
                    div {
                        display: flex; 
        
                        span{
                            width: 30px;
                            height: 30px;
                            background: var(--background);
                            border-radius: 50%;
                            margin: 0 10px;
                            cursor: pointer;
        
                            display: flex;
                            justify-content:center;
                            align-items: center;
                        }
                    }
        
                    &:first-child {
                        color: var(--text-title);
                    }
                    
                }
            }
        }
    }
        
}